<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- head -->
    {% block head %}
    {% endblock %}
</head>

<body>

    <!-- header -->
    {% block header %}
    {% endblock %}

    <!-- main content -->
    {% block content %}
    {% endblock %}


    <!-- footer -->
    {% block footer %}
    {% endblock %}


    <!-- scripts -->
    <script src="/libs/jquery.min.js"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>
